.menu {
  background-color: #807857;
  min-height: 90vh;
  padding: 0px 10rem;
}

.menu-title {
  padding-top: 5rem;
}

.menu h2 {
  color: black;
  font-weight: bolder;
  font-family: Segoe Print;
  font-size: 3rem;
  padding-left: 1rem;
}

.menu-title-list {
  display: flex;
  list-style-type: none;
  margin-top: 1rem;
  justify-content: center;
}
.menu-title-list-item {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Segoe Print;
  color: brown;
}
.menu-title-list-item:hover {
  border-bottom: 2px solid brown;
  cursor: pointer;
}

.menu-food {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Segoe Print;
}

.food-card {
  display: flex;
  background-color: #e1d9b3;
  background-color: #e9e1e1;
  margin-top: 3rem;
}
.card-title {
  font-weight: bolder;
}
.card-title:hover {
  color: #888473;
  cursor: pointer;
}
.card-text {
  color: #888473;
}

.food-card img {
  border-bottom: 2px dashed black;
  /* width: 15rem; */
  height: 15rem;
}
